progressbar2
gdown
gitpython
git+https://github.com/cheind/py-thin-plate-spline
hickle
tensorboard
numpy
git+https://github.com/facebookresearch/segment-anything.git
gradio
opencv-python
matplotlib
pyyaml
av
openmim
tqdm
psutil